# Created by https://www.toptal.com/developers/gitignore/api/java,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=java,windows

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war

